extends ../layouts/layout_default

block content

  h1
    | Contact Form Mailer
    
  h2
    | Mailer for Express.
    
  p
    | Check documentation on Github
    |
    a(
      href='https://github.com/valeriosillari/express-contact-form'
      target='_blank'
      title='Github Repo Link for documentation'
    )
      | here
    |.
